
*, html{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    
    main {
        display: grid;
        grid-template-columns: repeat(6, 150px);
        gap: 1rem;
    }

    main article {
        height: 150px;
        background: rgb(48, 48, 48);
    }


    main article.neutral img{
        opacity: 0;
        width: 100%;
    }
    
    main article.flipped img {
        opacity: 1;        
    }

    main article.match{
        background:rgb(3, 153, 3);
    }
    
    main article.match img{
        opacity: .5;
    }

    
}